body {
    background-color: #202124;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    color: white;
    margin: 50px;
}

.top {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: lightblue;
    font-size: 24px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #5f6368;
    border-radius: 5px;
    background-color: #303134;
    color: white;
    outline: none;
}

input[type="text"]:focus {
    border: 1px solid #8ab4f8;
    box-shadow: 0 0 8px rgba(138, 180, 248, 0.5);
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background-color: #4285F4; /* Google Blue */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}
